<div class="main-layout">
  <div class="sidebar">
    <p-panelMenu [model]="items" [style]="{ width: '100%' }"></p-panelMenu>
  </div>

  <div class="main-content">
    <div class="header">
      <div class="title">Mini-Bank</div>
      <div class="user-info">
        <span class="welcome">Hola, {{ nombreUsuario }}</span>
        <button pButton icon="pi pi-sign-out" class="p-button-rounded p-button-text" (click)="logout()"></button>
      </div>
    </div>

    <router-outlet></router-outlet>
  </div>
</div>
