<div class="main-layout">
  <div class="sidebar">
    <p-panelMenu [model]="items" [style]="{ width: '100%' }"></p-panelMenu>
  </div>

  <div class="main-content">
    <div class="header">
      <div class="title">Mini-Bank</div>
      <div class="user-info">
        <span class="welcome">Hola, {{ nombreUsuario }}</span>
        <div class="spacer"></div>
        <p-menu [popup]="true" #menuRef [model]="userMenuItems"></p-menu>
        <p-button label="Perfil" icon="pi pi-user" (click)="menuRef.toggle($event)"/>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
