
<div style="display: flex; flex-direction: column; gap: 1rem; height: 100%">
  <label> Nombre </label>
  <input pInputText [(ngModel)]="model!.name" placeholder="nombre"/>

  <label> Teléfono </label>
  <input pInputText [(ngModel)]="model!.phone" placeholder="documento"/>

  <label> Dirección </label>
  <input pInputText [(ngModel)]="model!.address" placeholder="documento"/>

  <label> Correo Electrónico </label>
  <input pInputText [(ngModel)]="model!.mail" placeholder="documento"/>

  <div style="margin-top: auto;">
    <p-button label="Guardar" (click)="save()" ></p-button>
  </div>

</div>
